.not-on-sale, .no-stock{
    color: #f55
}

.table-img  {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.table-container{
    margin: 1rem 3rem;
    border: 1px solid #333;
    padding: 30px;
}

.table-container .nav-item{
    display: flex;
    align-items: center;
}

.table-container button{
    margin-top: 0;
}


.table-container td{
    vertical-align: middle
}

.table-container .title{
    font-size: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
}