.cart-table-container{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
}

.cart-table-container td{
    vertical-align: middle
}

.cart-table-container .title{
    font-size: 20px;
}

.cart-hr{
    border: 1px solid black;
    opacity: 1;
}

.cart-sum{
    align-self: end;
    font-size: 25px;
    padding-right: 20px;
}

.cart-sum-number{
    color:brown
}

.cards__item__cart button:hover{
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 1px 1px  #666;
}

.no-item{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
}

.link-checkout{
    align-self: end;
    margin-top: 20px;
    margin-right: 20px;
}